@media (max-width: 560px) {
    .global-nav.horizontal li.more {
        display: none;
    }

}

@media (max-width: 750px) {
    .global-nav.horizontal .search-form {
        display: none;
    }
}

@media (min-width: 751px) {
    .global-nav.horizontal .toggle-button {
        display: none;
    }
}
