BeautifulSoup==3.2.1
Django==1.4.1
Markdown==2.2.1
MySQL-python==1.2.3
PIL==1.1.7
South==0.7.6
argparse==1.2.1
cssselect==0.7.1
django-appconf==0.5
django-compressor==1.2
django-filebrowser==3.5.0
django-grappelli==2.4.0
django-mptt==0.5.4
django-taggit==0.9.3
lxml>=2.3.4
pyquery==1.2.1
versiontools==1.9.1
wsgiref==0.1.2
psycopg2
dj-database-url
