{% extends "blog/blog.html" %}
{% block main %}
  <div class="article complete">
    <h1 class="article-title"><a href="{{entry.get_absolute_url}}">{{entry.title}}</a></h1>
    <div class="article-info">
      {% include "blog/article-info.html" %}
    </div>
    <div class="content">{{entry.content|safe}}</div>
  </div>
  <div id="comments">
      <div class="ds-thread" data-thread-key="blog.{{entry.pk}}" data-title="{{entry.title}}"
          data-category="{{entry.category}}" data-author-key="{{entry.author.pk}}"
          data-url="" data-form-positon="top" data-limit="20"></div>
  </div>
{% endblock %}

{% block bodyclass %}{{block.super}} article{% endblock %}
