{% extends "ezlog.html" %}

{% block sidebar %}
    {% include "panels/broadcast.html" %}
    {% include "panels/category.html" %}
    {% include "panels/tag-cloud.html" %}
    {% include "panels/ds-top-threads.html" %}
    {% include "panels/friend-links.html" %}
    {% include "panels/adsense.html" %}
    {% include "panels/sina-weibo.html" %}
    {% include "panels/ds-recent-comments.html" %}
    {% include "panels/ds-recent-visitors.html" %}
{% endblock sidebar %}

{% block bodyclass %}blog{% endblock %}
