{% extends "ezlog.html" %}
{% block ext_javascripts %}
<script src="{{STATIC_URL}}js/blog/blog.js"></script>
{% endblock ext_javascripts %}

{% block sidebar %}
    {% include "panels/broadcast.html" %}
    {% include "panels/category.html" %}
    {% include "panels/tag-cloud.html" %}
    {% include "panels/ds-top-threads.html" %}
    {% include "panels/friend-links.html" %}
    {% include "panels/sina-weibo.html" %}
    {% include "panels/ds-recent-comments.html" %}
    {% include "panels/ds-recent-visitors.html" %}
{% endblock sidebar %}

{% block bodyclass %}blog{% endblock %}
