<!DOCTYPE html>
{% load compress %}
<!--[if IE 6]><html class="ie6 oldie"><![endif]-->
<!--[if IE 7]><html class="ie7 oldie"><![endif]-->
<!--[if IE 8]><html class="ie8 oldie"><![endif]-->
<!--[if IE 9]><html class="ie9"><![endif]-->
<!--[if (gt IE 9)|!(IE)]><!--><html lang="zh-CN" class="standard"><!--<![endif]-->
<head>
<meta charset="UTF-8" />
<title>{% block title %}{{ezsettings.common.site_title|default:"EZLog"}}{% endblock %}</title>
<meta name="viewport" content="width=device-width, initial-scale=1.0" />
<meta name="description" content="{% block description %}{% endblock %}" />

{% block stylesheets %}
 {% compress css %}
 <link href="{{STATIC_URL}}bootstrap/css/bootstrap.min.css" rel="stylesheet" />
 <link href="{{STATIC_URL}}bootstrap/css/bootstrap-responsive.min.css" rel="stylesheet" />
 <link rel="stylesheet" href="{{STATIC_URL}}css/ezlog.css" />
 {% endcompress %}
{% endblock stylesheets %}
{% block ext_stylesheets %}{% endblock %}

{% block javascripts %}
 {% compress js %}
 <script src="{{STATIC_URL}}js/jquery.min.js"></script>
 <script src="{{STATIC_URL}}js/ezlog.js"></script>
 {% endcompress %}
{% endblock javascripts %}
{% block ext_javascripts %}{% endblock %}

{% block ext_head %}{% endblock %}

<!--Make IE6-8 behave standard-->
<!--[if lt IE 9]>
 <script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script>
 <script src="http://ie7-js.googlecode.com/svn/version/2.1(beta4)/IE9.js"></script>
 <script src="{{STATIC_URL}}js/fix-ie6-8.js"></script>
<![endif]-->

<!--Fix IE6 with BootStrap-->
<!--[if IE 6]>
<link href="{{STATIC_URL}}Bootstrap-IE6/ie6.min.css" rel="stylesheet />
<script src="{{STATIC_URL}}Bootstrap-IE6/ie6.min.js"></script>
 <style>#main, {float: left;} #sidebar {float: right;}</style>
<![endif]-->

{% if ezsettings.google_analytics.track_id %}
<script type="text/javascript">
    var _gaq = _gaq || [];
    _gaq.push(['_setAccount', '{{ ezsettings.google_analytics.track_id }}']);
    _gaq.push(['_trackPageview']);
    (function() {
        var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
        ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
        var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
    })();
</script>
{% endif %}
</head>
<body class="{% block bodyclass %}base{% endblock %}">
  <div class="container">
    <!--页面头部-->
    <div class="row-fluid header">
        <div>
            {% spaceless %}
            <h1 class="site-title">
                <a href="{% url site.index %}">{{ezsettings.common.site_title|default:"EZLog"}}</a>
            </h1>
            {% endspaceless %}
            <p class="motto">{{ezsettings.common.site_motto|default:"留一半清醒啊留一半醉，至少梦里有你追随~"}}</p>
        </div>

        <div>
            <div class="global-nav horizontal">
                {% block global_nav %}
                <div class="toggle-button">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </div> <!-- .toggle-button -->
                <form class="search-form" action="{% url blog.index %}" method="get">
                    <input name="search" type="search" placeholder="搜索" class="" />
                    <button type="submit" class="">搜索</button>
                </form>
                <ul class="nav-links">
                    <li><a href="{% url site.index %}">首页</a></li>
                    <li><a href="{% url plog.index %}">图志</a></li>
                    {% for p in nav_pages %}
                        <li class="more"><a href={{p.get_absolute_url}}>{{p.title}}</a></li>
                    {% endfor %}
                </ul> <!-- .nav-links -->
                {% endblock global_nav %}
            </div>
        </div>
    </div> <!-- .header -->

    <div class="row-fluid content-wrapper">
      <!--正文区块-->
      <div class="span8" id="main">
      {% block main %}this base template{% endblock %}
      </div>

      <!--侧边栏-->
      <div class="span4" id="sidebar">
        {% block sidebar %}
          {% include "panels/broadcast.html" %}
          {% include "panels/friend-links.html" %}
          {% include "panels/sina-weibo.html" %}
          {% include "panels/ds-recent-comments.html" %}
          {% include "panels/ds-recent-visitors.html" %}
        {% endblock sidebar %}
      </div> <!-- #sidebar -->
    </div>

    <!--页脚-->
    <div class="row-fluid footer">
        <p class="span6 copyright">{{ezsettings.common.copyright|default:"Copyright © 2012 Wonder. 保留所有权利, 除非另有说明."}}</p>
        <p class="span6 powered-by">Powered by EZLog.</p>
    </div>
  </div>
  <!-- 备注: 文档加载后完成再加载多说脚本, 避免延缓页面的加载! -->
  <script type="text/javascript">
      window.duoshuoQuery = {short_name:"{{ezsettings.duoshuo.shot_name}}"};
      (function() {
          var ds = document.createElement('script');
          ds.type = 'text/javascript';ds.async = true;
          ds.src = 'http://static.duoshuo.com/embed.js';
          ds.charset = 'UTF-8';
          (document.getElementsByTagName('head')[0] 
           || document.getElementsByTagName('body')[0]).appendChild(ds);
      })();
  </script>
</body>
</html>
