{% extends "ezlog.html" %}

{% block title %}{{page.title}} | {{ezsettings.common.site_title}}{% endblock title %}

{% block ext_stylesheets %}
<style type="text/css">
    h1.page-title {
        font-size: 24px;
        font-weight: normal;
    }
</style>
{% endblock %}

{% block main %}
<h1 class="page-title">{{page.title}}</h1>
<div class="content">
    {{ page.content|safe }}
</div>

<div id="comments">
    <div class="ds-thread" data-thread-key="page.{{page.pk}}" data-title="{{page.title}}"
        data-category="" data-author-key="" data-url="" data-form-positon="top" data-limit="20">
    </div>
</div>

{% endblock %}
