<div class="panel sina-weibo">
  <div class="panelbar">新浪微博</div>
  <div class="panelbody">
    <!--微博秀定制页面: http://app.weibo.com/tool/weiboshow-->
    <iframe src="{{ezsettings.sina_weibo.widget_iframe_src|default:"http://widget.weibo.com/weiboshow/index.php?language=&width=0&height=800&fansRow=1&ptype=1&speed=0&skin=1&isTitle=0&noborder=0&isWeibo=1&isFans=1&uid=1867578073&verifier=81cd8ab8&dpc=1"}}" frameborder="0" scrolling="no" class="share_self" width="100%" height="800"></iframe>
  </div>
</div>
